<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
      body{
      .button{
        text-align: center;
        font-size: 18px;
        font-family: sans-serif;
        font-weight: bold;
        padding: 0 30px 0 30px;
      }

    </style>

</head>
<body>
<img src="cid:pic" width="100%">
<table>
    <th align="center" class="button">Duration</th>
    <th align="center">Time</th>
    <th align="center">TimeZone</th>
    <#list sessionList as session>
    <tr>
        <td>
            ${session.minuteDuration}
        </td>

        <td>
            ${session}
        </td>
        <td>
            ${timeZone}
        </td>
    </tr>
</#list>
</table>

</body>
</html>